body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7e1ff;
    color: rgb(138, 43, 226);
    text-shadow: 0px 0px 8px blueviolet;
    font-family: Tahoma, Geneva, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-bottom: 0px;
}

p {
    text-align: center;
    font-size: 25px;
}

#display-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

nav {
    display: flex;
    gap: 40px;
}

nav p {
    transition: .2s ease-in-out;
    margin: 0;
    padding: 5px;
}

nav p:hover {
    cursor: pointer;
    filter: brightness(1.3);
}

#projects-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.image-and-description {
    position: absolute;
    left: 60px;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

.image-and-description.project-visible {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.project-image {
    width: 760px;
    height: 360px;
    border: 3px solid blueviolet;
    border-radius: 10px;
    box-shadow: 0px 0px 8px blueviolet;
    transition: .3s ease-in-out;
}

.project-image:hover{
    filter: brightness(.2);
}

.project-description {
    position: absolute;
    width: 600px;
    opacity: 0;
    top: 20%;
    left: 10%;
    transition: .3s ease-in-out;
    color: white;
    text-shadow: 0px 0px 10px white;
    margin: 0px 0px 30px 0px;
}

.project-description.description-visible {
    opacity: 1;
}

button {
    position: absolute;
    bottom: -70px;
    left: 38%;
    font-size: 25px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 170px;
    transition: .2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: rgb(176, 176, 176);
}

a {
    text-decoration: none;
    color: black;
}